.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.title {
	text-align: center;
    text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

