.logo {
    width: 200px;
  height: 200px;
  display: inline-flex;
	align-items: flex-start;
  margin: 10px;
  padding: 15px;
  position: absolute;
  
}
.box{
    background-color:rgb(254, 251, 251);
   
    text-align:center;
    position: absolute;
    bottom: 10;
    width: 95%;
    height: 12%;
    text-decoration: none;
    display: flex ;
    justify-content: center;
    margin:0;
}
.a{
     display:flex, none;
     flex : 1;
     font-Family: "Helvetica Neue",Helvetica,Arial;
     font-Weight: 700;
     color:#8b96c4;
     text-decoration: none;
}

